{% include 'MmmFrontendBundle::layout.html.twig' %}

{% block container %}
<div >

    {#place list#}
    <div ng-controller="PlaceCtrl">
        <div>

        </div>
    </div>

    {#invite list#}
    {#<div ng-controller="InviteCtrl">#}

    {#</div>#}

</div>
{% endblock container %}