<!DOCTYPE html>
<html ng-app="jsApp">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets
                '../app/Resources/public/bower_components/bootswatch/sandstone/bootstrap.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                '../app/Resources/public/bower_components/angular/angular.js',
                '../app/Resources/public/js/angular/app/scripts/app.js',
                '../app/Resources/public/js/angular/app/scripts/controllers/place.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
