<a href="{{ path('_mmm_user_add') }}">Add</a>


<ul>
    {% for user in users %}
        <li>{{ user.username|e }} <a href="{{ path('_mmm_user_edit', {'id': user.id}) }}">Edit</a></li>
    {% endfor %}
</ul>